<p>ativos</p>
<div class="row">
</div>
<div class="config-aporte">
    <label>Aporte</label>
    <input id="input-aporte" type="number" [(ngModel)]="valorAporte"/>

    <label>No. Máximo de ordens</label>
    <input id="input-max-ordens" type="number" [(ngModel)]="qtdeMaxOrdem"/>

    <button id="btn-calcular" type="button" (click)="calcular()">Calcular</button>

    <table [style.display]="exibirTabelaAportes ? 'block':'none'">
        <thead>
            <tr>
                <th>Ativo</th>
                <th>Posicao</th>
                <th>Quantidade atual</th>
                <th>Quantidade a ser comprada</th>
                <th>Nova posição</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aporte of aportes">
                <td>{{aporte.codigo}}</td>
                <td>{{aporte.posicao}}</td>
                <td>{{aporte.quantidade}}</td>
                <td>{{aporte.qtdeAporte}}</td>
                <td>{{aporte.novaPosicao}}</td>
            </tr>
        </tbody>
    </table>

</div>
<table class="tb-ativos">
    <thead>
        <th>Cod.</th>
        <th>Quantidade</th>
        <th>Cotação atual</th>
        <th>Posição</th>
        <th>Preço Médio</th>
        <th>Rendimento</th>
        <th>% atual</th>
        <th>% alvo</th>
    </thead>
    <tbody>
        <tr *ngFor="let ativo of ativos">
            <td><span>{{ativo.codigo}}</span></td>
            <td><span>{{ativo.quantidade}}</span></td>
            <td><span>{{ativo.cotacao_atual}}</span></td>
            <td><span>{{ativo.posicao}}</span></td>
            <td><span>{{ativo.preco_medio}}</span></td>
            <td><span>{{ativo.rendimento}}</span></td>
            <td><span>{{ativo.porcentagem_atual}}</span></td>
            <td><span>{{ativo.porcentagem_alvo}}</span></td>
        </tr>
    </tbody>
</table>
