<!-- <h1>Olá Mundo</h1> -->
<barra-superior></barra-superior>
<!-- <div class="area-patrimonio">
    <div class="abas">
        <h1 class="tela-titulo">Patrimônio</h1>
        <ul class="lista-abas">
            <li class="ativo">
                <div class="aba-patrimonio ativo">
                    Geral
                </div>
            </li>
            <li>
                <div class="aba-patrimonio">
                    Ações
                </div>
            </li>
            <li>
                <div class="aba-patrimonio">
                    Criptos
                </div>
            </li>
            <li>
                <div class="aba-patrimonio">
                    FIIs
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="area-geral">
    <div class="grafico-principal" style="height: 400px;width: 400px;">
        <canvas id="canvas-geral"></canvas>
    </div>
    <div class="grafico-tipo" style="height: 400px; width: 400px;">
        <canvas id="canvas-tipo"></canvas>
    </div>
</div> -->
<app-ativos></app-ativos>